<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @game.Game %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.Description %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
